/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* ----- End reset ----- */
body {
    /* height: 100vh; */
    width: 100%;
    background:#dde2e6;
    font-size: 100%;
    line-height: 1;
    font-family: 'Lato', sans-serif;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.neumophicUp {
    border-radius: 18px;
    box-shadow: 8px 8px 10px #cccccc, -5px -5px 10px rgb(241, 241, 241);
  }

@media (max-width: 759px) { 
    .principal {
        width: 360px;
        height: auto;        
        padding: 18px;   
        margin-top: 35px;
    }
    .principal h1 {
        font-size: 34px;
        text-align: center;
        font-weight: bold;
        color: #46484b;
    }    
    .principal h2 {
        font-size: 26px;
        text-align: center;
        color: #46484b;
        font-weight: 400;
        margin-top: 10px;
    }
    .principal .dataApp {
        width: 100%;
        margin-top: 30px;
    }
    .info-principal {
        display: flex;
        justify-content: center;
    }
    .temp {
        width: 320px;
        display: flex;
        align-items: center;
    }
    .temp .valor {
        font-size: 130px;
        font-weight: bold;
        color: #46484b;       
    }
    .temp .grau {        
        font-size: 93.8px; 
        font-weight: bold;            
        line-height: 0px;          
        color: #46484b;
        position: relative;
        left: 20px;
        top:-5px
    }
    .temp .simbolo {
        font-size: 93.8px;
        font-weight: bold;
        color: #46484b;
        line-height: 0px;
        position: relative;
        left: -20px;
        top:15px
    }
    .iconeWeather {
        width: 300px;
        height: auto;
        position: relative;
        top: 8px;
        left: -12px;
    } 
    .extraInfo {
        width: 110px;
        height: 110px;
    }
    .data {
        display: flex;
        justify-content: space-between;
        align-items: center;        
        flex-flow: row wrap;
        padding: 20px 25px 10px 25px;
    }
    .extraInfo{
        padding:12px;
        margin-bottom: 20px;
    }
    .label{
        width: 100%;
        display: flex;
        align-items: center;                
    }
    .label span {
        font-size: 20px;
        color: #46484b; 
    }
    .svg-icon {
        width: 26px;
        height: 26px;
        margin-right: 6px;
      }      
      .svg-icon path,
      .svg-icon polygon,
      .svg-icon rect {
        fill: #4691f6;
      }
      .svg-icon circle {
        stroke: #4691f6;
        stroke-width: 1;
      }
      span.info {
         font-weight: bold;  
      }
      span.info p{
        text-align: center;
        color: #46484b;
        margin-top: 20px;
        font-size: 55px;        
       }
       span.info .grau {
        position: relative;
        top: -58px;
        left: 86px;
        font-size: 46px;
        color: #46484b;
      }
      span.info .simbolo {
        position: relative;
        top:-95px;
        left: 86px;
        font-size: 46px;
        color: #46484b;
      }
      span.info .porcentagem {  
        font-size: 32px !important;
        position: relative;
        top: -39px;
        left: 90px;
        font-size: 46px;
        color: #46484b;
      }
      .pressure span.info p {  
        font-size: 50px !important;
        position: relative;
        font-size: 46px;
        color: #46484b;
      }
      form {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      .inputCity {
        text-align: center;
        color: #46484b;
        width: 95%;        
        height: 63px;
        display: block;
        margin: 36px 0px 20px 0px;
        border-radius: 25px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -4px -4px 4px rgb(246, 246, 246);
        background:#e0e0e0;
        border: 0;
        outline: 0;
      }
      .inputCity:focus {
        border: 0;
        outline: 0;
        background:#edf1f4;
      }
      .submit {
        text-align: center;
        color: #ffffff;
        width: 96%;        
        height: 63px;
        background:#4691f6;
        margin: 0px 0px 30px 0px;
        border: 0;
        outline: 0;  
        border-radius: 25px;
        transition: .5s background;
      }
      .submit:hover {
        background:#3d83df;
      }
      .submit:active{
        background:#3a7bcf;
        box-shadow: 4px 4px 5px #cdced1, -2px -2px 5px #fff;
      }
      .infoPortolio{
          text-align: center;
          margin: 20px 0 00px 0;
      }
      .logoGithub {
          margin-right: 6px;
      }   
}
@media (min-width: 760px) { 
    .principal {
        width: 750px;
        height: auto;
        padding: 30px;      
        margin-top: 60px;;
    }
    .principal h1 {
        font-size: 54px;
        text-align: center;
        color: #46484b;
        font-weight: bold;
    }
    .principal h2 {
        font-size: 40px;
        text-align: center;
        color: #46484b;
        font-weight: 400;
        margin-top: 10px;
    }
    .principal .dataApp {
        width: 100%;
        margin-top: 30px;
    }
    .info-principal {
        display: flex;
        justify-content: center;
    }
    .temp {
        width: 320px;
        display: flex;
        align-items: center;
    }
    .temp .valor {
        font-size: 143px;
        font-weight: bold;
        color: #46484b;       
    }
    .temp .grau {        
        font-size: 93.8px; 
        font-weight: bold;            
        line-height: 0px;          
        color: #46484b;
        position: relative;
        left: 20px;
        top:-5px
    }
    .temp .simbolo {
        font-size: 93.8px;
        font-weight: bold;
        color: #46484b;
        line-height: 0px;
        position: relative;
        left: -20px;
        top:15px
    }
    .iconeWeather {
        width: 300px;
        height: auto;
        position: relative;
        top: 8px;
        left: -12px;
    } 
    .extraInfo {
        width: 130px;
        height: 132px;
    }
    .data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .extraInfo{
        padding:12px;
    }
    .label{
        width: 100%;
        display: flex;
        align-items: center;                
    }
    .label span {
        font-size: 20px;
        color: #46484b; 
    }
    .svg-icon {
        width: 26px;
        height: 26px;
        margin-right: 6px;
      }      
      .svg-icon path,
      .svg-icon polygon,
      .svg-icon rect {
        fill: #4691f6;
      }
      .svg-icon circle {
        stroke: #4691f6;
        stroke-width: 1;
      }
      span.info {
         font-weight: bold;  
      }
      span.info p{
        text-align: center;
        color: #46484b;
        margin-top: 20px;
        font-size: 64px;        
       }
      span.info .grau {
        position: relative;
        top:-60px;
        left: 105px;
        font-size: 46px;
        color: #46484b;
      }
      span.info .simbolo {
        position: relative;
        top:-95px;
        left: 102px;
        font-size: 46px;
        color: #46484b;
      }
      span.info .porcentagem {  
        font-size: 32px !important;
        position: relative;
        top: -39px;
        left: 102px;
        font-size: 46px;
        color: #46484b;
      }
      .pressure span.info p {  
        font-size: 50px !important;
        position: relative;
        font-size: 46px;
        color: #46484b;
      }
      form {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      .inputCity {
        text-align: center;
        color: #46484b;
        width: 95%;        
        height: 63px;
        display: block;
        margin: 36px 0px 20px 0px;
        border-radius: 25px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -4px -4px 4px rgb(246, 246, 246);
        background:#e0e0e0;
        border: 0;
        outline: 0;
      }
      .inputCity:focus {
        border: 0;
        outline: 0;
        background:#edf1f4;
      }
      .submit {
        text-align: center;
        color: #ffffff;
        width: 96%;        
        height: 63px;
        background:#4691f6;
        margin: 0px 0px 30px 0px;
        border: 0;
        outline: 0;  
        border-radius: 25px;
        transition: .5s background;
      }
      .submit:hover {
        background:#3d83df;
      }
      .submit:active{
        background:#3a7bcf;
        box-shadow: 4px 4px 5px #cdced1, -2px -2px 5px #fff;
      }
      .infoPortolio{
          text-align: center;
          margin: 20px 0 00px 0;
      }
      .logoGithub {
          margin-right: 6px;
      }
}